In [1]:
import MetaTrader5 as mt5
import pandas as pd

mt5.initialize()
print(mt5.terminal_info())
pd.set_option('display.max_columns', 500)  # 显示的最大列数
pd.set_option('display.width', 1500)  # 控制显示输出的最大宽度
# 从当日获取10个GBPUSD D1柱形图
rates = mt5.copy_rates_from_pos("GBPUSDm", mt5.TIMEFRAME_D1, 0, 10)
# 从所获得的数据创建DataFrame
rates_frame = pd.DataFrame(rates)
# 将时间（以秒为单位）转换为日期时间格式
rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')
# 显示数据
print("\nDisplay dataframe with data")
print(rates_frame)

TerminalInfo(community_account=False, community_connection=False, connected=True, dlls_allowed=False, trade_allowed=True, tradeapi_disabled=False, email_enabled=False, ftp_enabled=False, notifications_enabled=False, mqid=False, build=4410, maxbars=100000, codepage=936, ping_last=82024, community_balance=0.0, retransmission=2.0599595365091043, company='MetaQuotes Ltd.', name='MetaTrader 5', language='Chinese (Simplified)', path='C:\\Program Files\\MetaTrader 5', data_path='C:\\Users\\adapa\\AppData\\Roaming\\MetaQuotes\\Terminal\\D0E8209F77C8CF37AD8BF550E51FF075', commondata_path='C:\\Users\\adapa\\AppData\\Roaming\\MetaQuotes\\Terminal\\Common')

Display dataframe with data
        time     open     high      low    close  tick_volume  spread  real_volume
0 2024-06-21  1.26596  1.26748  1.26217  1.26431        41225      12            0
1 2024-06-23  1.26355  1.26453  1.26250  1.26374         2272      12            0
2 2024-06-24  1.26375  1.26974  1.26323  1.26812        38259      12            0
3 2024-06-25  1.26813  1.27020  1.26694  1.26835        36333      12            0
4 2024-06-26  1.26835  1.26930  1.26150  1.26207        41962      12            0
5 2024-06-27  1.26205  1.26700  1.26123  1.26435        41145      12            0
6 2024-06-28  1.26435  1.26651  1.26191  1.26443        46387      12            0
7 2024-06-30  1.26332  1.26506  1.26267  1.26479         2592      12            0
8 2024-07-01  1.26479  1.27107  1.26328  1.26447        44622      12            0
9 2024-07-02  1.26447  1.26479  1.26151  1.26433        17286      12            0

In [2]:
import pandas as pd
import numpy as np

data = np.arange(-12, 12).reshape((6, 4))
df = pd.DataFrame(
  data, 
  index=list("abcdef"), 
  columns=list("ABCD"))
df

    A   B   C   D
a -12 -11 -10  -9
b  -8  -7  -6  -5
c  -4  -3  -2  -1
d   0   1   2   3
e   4   5   6   7
f   8   9  10  11

In [3]:
df["B"]

a   -11
b    -7
c    -3
d     1
e     5
f     9
Name: B, dtype: int32

In [4]:
print("numpy:\n", data[:, [2,1]])
print("\ndf:\n", df[["C", "B"]])

numpy:
 [[-10 -11]
 [ -6  -7]
 [ -2  -3]
 [  2   1]
 [  6   5]
 [ 10   9]]

df:
     C   B
a -10 -11
b  -6  -7
c  -2  -3
d   2   1
e   6   5
f  10   9

In [6]:
data[2:3, 1:3]
df.loc["c":"d", "B":"D"]

   B  C  D
c -3 -2 -1
d  1  2  3

In [7]:
df2 = pd.DataFrame(
  data, 
  index=list("beacdf"), 
  columns=list("ABCD"))
print(df2)
print(df2.loc["e":"c"])

    A   B   C   D
b -12 -11 -10  -9
e  -8  -7  -6  -5
a  -4  -3  -2  -1
c   0   1   2   3
d   4   5   6   7
f   8   9  10  11
   A  B  C  D
e -8 -7 -6 -5
a -4 -3 -2 -1
c  0  1  2  3

In [8]:
print("numpy:\n", data[2:3, 1:3])
print("\ndf:\n", df.iloc[2:3, 1:3])

numpy:
 [[-3 -2]]

df:
    B  C
c -3 -2

In [9]:
row_labels = df.index[2:4]
print("row_labels:\n", row_labels)
print("\ndf:\n", df.loc[row_labels, ["A", "C"]])

row_labels:
 Index(['c', 'd'], dtype='object')

df:
    A  C
c -4 -2
d  0  2